body {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}
.first-bar {
background-color: rgb(13, 13, 50);
height: 80px;
width: 100%;
color: white;
margin-top: 0;
overflow: hidden;
position: fixed;
z-index: 2;
}


li {
    list-style-type: none;
    font-size: 19px;
    transition-duration: 0.1s;
}

li:hover {
    padding-top: 1px;
    padding-left: 1px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
}

.logo {
    font-size: 25px;

}

.links {
    display: flex;
    gap: 30px;

}


.second-bar {
    background-color: rgb(13, 13, 50);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    
}

.content-second-bar {
    margin-top: 150px;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}


#map {
    height: 250px;
    width: 300px;
    border-radius: 10px;
    z-index: 1;
}

h2 { 
    font-weight: 800;
    font-size: 30px;
}

.textnext2map {
    width: 300px;
}

.Prøv {
    background-color: rgb(253, 253, 253);
    top: 50%;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    border: none;
    margin-top: 20px;
    transition-duration: 0.3s;
}

.Prøv:hover {
    background-color: rgb(32, 32, 169);
    color: white;
    cursor: pointer;
}

.third-bar {
    background-color: rgb(223, 223, 231);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    
}




@media only screen and (max-width: 600px) {
    .second-bar {
        height: 700px;
    }
    .content-second-bar {
        margin-top: 100px;
        padding-left: 10px;
    }
    
    
}