body {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}
.first-bar {
background-color: rgb(13, 13, 50);
height: 500px;
width: 100%;
color: white;
margin-top: 0;
overflow: hidden;
}

li {
    list-style-type: none;
    font-size: 19px;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
}

.logo {
    font-size: 25px;

}

.links {
    display: flex;
    gap: 30px;

}