body {
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}
.first-bar {
background-color: rgb(13, 13, 50);
height: 80px;
width: 100%;
color: white;
margin-top: 0;
overflow: hidden;
position: fixed;
}


li {
    list-style-type: none;
    font-size: 19px;
    transition-duration: 0.1s;
}

li:hover {
    margin-top: 1px;
    margin-left: 1px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: baseline;
}

.logo {
    font-size: 25px;

}

.links {
    display: flex;
    gap: 30px;

}


.second-bar {
    background-color: rgb(13, 13, 50);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    
}

.content-second-bar {
    margin-top: 200px;
    display: flex;
    gap: 40px;
}


#map {
    height: 250px;
    width: 300px;
    border-radius: 10px;
}

h2 { 
    font-weight: 800;
    font-size: 30px;
}

.textnext2map {
    width: 300px;
}

.Prøv {
    background-color: rgb(253, 253, 253);
    top: 50%;
    border-radius: 20px;
    width: 80px;
    height: 30px;
    border: none;
    margin-top: 20px;
    transition-duration: 0.3s;
}

.Prøv:hover {
    background-color: rgb(32, 32, 169);
    color: white;
    cursor: pointer;
}

